<!DOCTYPE html>
<html>
  <head>
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="//code.jquery.com/jquery-3.1.1.js"></script>
  	<script type="text/javascript">

  		// var username;
  		var socket;
  		var user;
  		var pos; 
  		function t(){

  			socket = io()
	  		socket.on('loggedIn', function (currentUsersArray){

	  			console.log(currentUsersArray)
	  			// DO 
	  		})
  			
  			navigator.geolocation.getCurrentPosition(showPosition);
  		}
		function showPosition(position){
			console.log(position.coords.latitude + " " + position.coords.longitude)
			lat = position.coords.latitude
			lon = position.coords.longitude
			user = { username:$('#username').val(),
			 		 latitude:lat,
			 		 longitude:lon }
			socket.emit('login', user)
  			setInterval(updatePos, 1000)
			
		}

		function updatePos(){

			navigator.geolocation.getCurrentPosition(showPosition1)



		}

		function showPosition1(position){
			user.latitude = position.coords.latitude
			user.longitude = position.coords.longitude
			socket.emit('update', user)
		}


  	</script>
    <title> hai spas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<form action="">
	  First name:<br>
	  <input type="text" id="username" name="username" value="pesho">
	  <br>
	  <input type="button" value="Submit" onclick="t()" >
	</form>
  </body>
</html>
