<div class="page">
	<h2 class="title">You're attending OxfordHack2016</h2>

	<!-- The div with the main view -->
  <div id="viewDivBackground">
    <div id="viewDiv"></div>
    <div id="chatContainer">
      <div id="recepient">
        Rosen Dangov
      </div>
      <ul id="chat_container">
      </ul>
      <form>
        <input type="text" id="m" name="sendValue">
        <button id="sendMessage">send</button>
        <script type="text/javascript">
           $('#sendMessage').click(function(event) {
            console.log("asdasd");
            // if($('#m').val() !== '' || $('#m').val() !== undefined){
            var msg = { username:_username,
                         content:$('#m').val()
                      }
              socket.emit('send_new_message', msg);
            // }
            $('#m').val('');
 
 
          });
        </script>
      </form>
    </div>
  </div>
</div>