<div class="page">
	<h2 class="title">You're attending OxfordHack2016</h2>

	<!-- The div with the main view -->
  <div id="viewDivBackground">
    <div id="viewDiv"></div>
    <div id="chatContainer">
      <div id="recepient">
        Rosen Dangov
      </div>
      <ul>
        <li class="message mineMessage">
          <span>Asdf</span>
        </li>
        <li class="message mineMessage">
          <span>Novo saobshtenie</span>
        </li>
        <li class="message otherMessage">
          <span>Trallaa</span>
        </li>
        <li class="message otherMessage">
          <span>Hate js</span>
        </li>
        <li class="message mineMessage">
          <span>Iohohoho</span>
        </li>
        <li class="message mineMessage">
          <span>Asdf</span>
        </li>
        <li class="message mineMessage">
          <span>Novo saobshtenie</span>
        </li>
        <li class="message otherMessage">
          <span>Trallaa</span>
        </li>
        <li class="message otherMessage">
          <span>Hate js</span>
        </li>
        <li class="message mineMessage">
          <span>Iohohoho</span>
        </li>
      </ul>
      <form>
        <input type="text" name="sendValue">
        <button id="sendMessage">send</button>
      </form>
    </div>
  </div>
</div>
<script src="socket.io/socket.io.js"></script>