<div class="page">
	<h2 class="title">Login</h2>
	<section class="freeTxt">
		Login with your name!
	</section>
	<form>
		<div class="formSection">
			<input type="text" id="name" placeholder="Name">
		</div>
		<div class="formSection">
			<select name="eventName">
				<option id="option1" name="OxfordHack" value="1">Oxford Hack 2016</option>
			</select>
		</div>
		<button class="fancyButtonGrey transitionFast" ng-click="$login()">
			<!-- <a href="http://hackersmap.eu-2.evennode.com/event">Login</a> -->
			<a href="http://localhost:8080/Mapthingy/#/event/1">Login</a>
		</button>
	</form>
</div>